body {
    background-image: url(https://i.imgur.com/e13rAvS.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    background-position: center;
    background-position-x: 56%;
    background-position-y: 52%;
    /* overflow-x: hidden; */
}

.outer-row {
    background-color: rgba(255, 255, 255, 0.800);
    border-bottom: 3px solid #0f8a84;
    border-right: 3px solid #0f8a84;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px 12px rgb(99, 99, 99);
    height: inherit;
    padding-bottom: 10px;
    padding-top: 10px;
}

.inner1 {
    text-align: center;
    height: fit-content;
}

.visits {
    padding-top: 2%;
}

.outer-two {
    background-color: rgba(255, 255, 255, 0.800);
    margin-top: 5%;
    border-bottom: 3px solid #0f8a84;
    border-right: 3px solid #0f8a84;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px 12px rgb(99, 99, 99);
    padding: 10%;
    height: inherit;
}

.list-group {
    font-size: large;
}

.list-group-item {
    border-color: rgba(0, 111, 163, 0.274);
    padding: 25px;
}

.logo {
    text-align: center;
    padding-top: 10px;
}

#logo {
    height: 100px;
    width: 100px;
    border: 5px solid rgba(0, 71, 163, 0.918);
    border-radius: 50%;
    box-shadow: 5px 4px 12px rgba(24, 24, 24, 0.575);
}



.d-block {
    height: 500px;
}

.about {
    margin-top: 50px;
    margin-bottom: 60px;
    height: inherit;
    padding: 12px;
    border: 3px solid rgba(178, 34, 34, 0.600);
    box-shadow: 5px 10px 5px rgb(49, 142, 145);
    border-radius: 5px;
    background-color: white;

}

.col-md-6.about {
    margin-bottom: 20px;
}

#about-p {
    line-height: 2;
    text-indent: 50px;
    margin-bottom: 0;
}

footer {
    border-top: 3px solid #009c75;
    background-color: rgba(218, 218, 218, 0.81);
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot {
    text-align: center;
}

#port {
    margin-top: 50px;
}

#links {
    color: rgb(33, 33, 33);
    background-color: rgb(193, 193, 193);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 10px;
    margin-bottom: 10px;
}

#links2 {
    color: rgb(33, 33, 33);
    font-size: 75%;
    background-color: rgb(193, 193, 193);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 10px;
}

#partPort {
    margin: 0;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(178, 34, 34, 0.913)' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(178, 34, 34, 0.913)' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-indicators li {
    background-color: rgba(178, 34, 34, 0.913);
}

/*-----------------------------------------
// FIX THIS MESS
//-----------------------------------------*/

#geo-large {
    max-width: 50%;
    width: 50%;
    position: absolute;
    z-index: -1;
    top: 11%;
    left: 7%;
    animation: 75000ms infinite ease-in-out clockwise, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight;
}

#geo-med {
    max-width: 15%;
    width: 15%;
    position: absolute;
    z-index: -2;
    bottom: 25%;
    right: 15%;
    animation: 50000ms infinite ease-in-out counterClockwise, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geo-small {
    max-width: 7%;
    width: 7%;
    position: absolute;
    z-index: -2;
    top: 30%;
    right: 20%;
    animation: 20000ms infinite ease-in-out counterClockwise, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight;
}

#geo-tiny {
    max-width: 4%;
    width: 4%;
    position: absolute;
    z-index: -2;
    top: 18%;
    right: 30%;
    animation: 7500ms infinite linear fullClockwise, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geo-mini1 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 25%;
    right: 36%;
    animation: 2380ms infinite ease-in-out bounce;
}

#geo-mini2 {
    max-width: 1.5%;
    width: 1.5%;
    position: absolute;
    z-index: -2;
    top: 40%;
    right: 15%;
    animation: 2290ms infinite ease-in-out bounce, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}
#geo-mini3 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 50%;
    right: 30%;
    animation: 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight, 3000ms infinite ease-in-out bounce;
}
#geo-mini4 {
    max-width: 1.6%;
    width: 1.6%;
    position: absolute;
    z-index: -2;
    top: 10%;
    right: 25%;
    animation: 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft, 3500ms infinite ease-in-out bounce;
}

#geo-mini5 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 5%;
    right: 45%;
    animation: 2190ms infinite ease-in-out bounce, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight;
}

#geo-mini6 {
    max-width: 2%;
    width: 2%;
    position: absolute;
    z-index: -2;
    bottom: 37%;
    right: 72%;
    animation: 15000ms infinite ease-in-out clockwise;
}

#geo-mini7 {
    max-width: 0.75%;
    width: 0.75%;
    position: absolute;
    z-index: -2;
    bottom: 15%;
    right: 30%;
    animation: 2550ms infinite ease-in-out bounce, 1s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight;
}

#geo-mini8 {
    max-width: 0.5%;
    width: 0.5%;
    position: absolute;
    z-index: -2;
    bottom: 25%;
    right: 35%;
    animation: 2500ms infinite ease-in-out bounce, 75000ms infinite ease-in-out counterClockwise;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(360deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}

@keyframes counterClockwise {
    0% {
        -webkit-transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-360deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes fullClockwise {
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-40%);
    }
}
