body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.158), /* Black overlay with 50% opacity */
      rgba(0, 0, 0, 0.685)
    ), 
    url(https://i.imgur.com/ZFDWVuf.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;
    background-position: center;
    background-position-x: 56%;
    background-position-y: 52%;
}

.outer-row {
    background-color: rgba(255, 255, 255, 0.700);
    border-bottom: 3px solid #0f8a84;
    border-right: 3px solid #0f8a84;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px 12px rgb(99, 99, 99);
    height: inherit;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 75%;
    width: 75%;
    position: relative;
    margin: auto;
}

.inner1 {
    text-align: center;
    height: fit-content;
}

.visits {
    padding-top: 2%;
}

.outer-two {
    background-color: rgba(255, 255, 255, 0.700);
    margin-top: 5%;
    border-bottom: 3px solid #0f8a84;
    border-right: 3px solid #0f8a84;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px 12px rgb(99, 99, 99);
    padding: 10%;
    height: inherit;
    max-width: 75%;
    width: 75%;
    position: relative;
    margin: 7% auto;
}

.list-group {
    font-size: large;
}

.list-group-item {
    border-color: rgba(0, 111, 163, 0.274);
    padding: 25px;
}


/*-----------------------------------------
// FIX THIS MESS
//-----------------------------------------*/

#geo-large {
    max-width: 38%;
    width: 38%;
    position: absolute;
    z-index: -1;
    top: 8%;
    left: 7%;
    animation: 75000ms infinite ease-in-out clockwise, 1.35s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geo-med {
    max-width: 15%;
    width: 15%;
    position: absolute;
    z-index: -2;
    bottom: 34%;
    right: 27%;
    animation: 50000ms infinite ease-in-out counterClockwise, 1.35s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geo-small {
    max-width: 7%;
    width: 7%;
    position: absolute;
    z-index: -3;
    top: 32%;
    right: 24%;
    animation: 20000ms infinite ease-in-out counterClockwise, 1.35s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInRight;
}

#geo-tiny {
    max-width: 4%;
    width: 4%;
    position: absolute;
    z-index: -2;
    top: 18%;
    right: 30%;
    animation: 7500ms infinite linear fullClockwise, 1.35s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geo-mini1 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 25%;
    right: 36%;
    animation: 2380ms infinite ease-in-out bounce;
}

#geo-mini2 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 40%;
    right: 15%;
    animation: 45000ms infinite ease-in-out counterClockwise;
}
#geo-mini3 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 50%;
    right: 30%;
    animation: 3000ms infinite ease-in-out bounce;
}
#geo-mini4 {
    max-width: 1.2%;
    width: 1.2%;
    position: absolute;
    z-index: -2;
    top: 10%;
    right: 25%;
    animation: 3500ms infinite ease-in-out bounce;
}

#geo-mini5 {
    max-width: 1%;
    width: 1%;
    position: absolute;
    z-index: -2;
    top: 5%;
    right: 45%;
    animation: 2190ms infinite ease-in-out bounce;
}

#geo-mini6 {
    max-width: 2%;
    width: 2%;
    position: absolute;
    z-index: -2;
    bottom: 37%;
    right: 72%;
    animation: 15000ms infinite ease-in-out fullClockwise;
}

#geo-mini7 {
    max-width: 0.75%;
    width: 0.75%;
    position: absolute;
    z-index: -2;
    bottom: 15%;
    right: 30%;
    animation: 2550ms infinite ease-in-out bounce;
}

#geo-mini8 {
    max-width: 0.5%;
    width: 0.5%;
    position: absolute;
    z-index: -2;
    bottom: 25%;
    right: 35%;
    animation: 2500ms infinite ease-in-out bounce;
}

/*-----------------------------------------
// FIX THIS MESS
//-----------------------------------------*/

#geoImgStyle {
    position: fixed;
    top: 39%;
    left: 9.5%;
    max-height: auto;
    max-width: 6%;
    width: 6%;
    z-index: 1;
    animation: 75000ms infinite ease-in-out counterClockwise, 1.35s cubic-bezier(0, 0, 0.51, 1.64) 0s 1 slideInLeft;
}

#geoImgStyle2 {
    position: fixed;
    top: 4.7%;
    right: 9%;
    max-height: auto;
    max-width: 4%;
    width: 4%;
    z-index: 1;
    animation: 75000ms infinite ease-in-out clockwise, 1.35s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInRight;
}

#geoImgStyle3 {
    position: fixed;
    top: 72%;
    right: 14%;
    max-height: auto;
    max-width: 10%;
    width: 10%;
    animation: 75000ms infinite ease-in-out fullClockwise, 1.35s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInRight;
}

#ringImgStyle {
    position: fixed;
    top: 40%;
    left: 3%;
    max-height: auto;
    max-width: 20%;
    width: 20%;
    z-index: 1;
    animation: 4085ms infinite ease-in-out example;
    /* animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft; */
}

#ringImgStyle2 {
    position: fixed;
    top: 5%;
    right: 4%;
    max-height: auto;
    max-width: 15%;
    width: 15%;
    z-index: 1;
    animation: 4080ms infinite ease-in-out example;
    /* animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft; */
}

#ringImgStyle3 {
    position: fixed;
    top: 60%;
    right: 1%;
    max-height: auto;
    max-width: 40%;
    width: 40%;
    animation: 4075ms infinite ease-in-out example;
    /* animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft; */
}


@keyframes example {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-15%);
    }
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(360deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}

@keyframes counterClockwise {
    0% {
        -webkit-transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-360deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes fullClockwise {
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-40%);
    }
}
